body {
    text-align: center;
}

#info {
    width: 250px;
    height: 40px;
    background-color: antiquewhite;
    border: 2px solid crimson;
    position: fixed;
    font-size: 22px;
    font-weight: bold;
}

#zaidimoLaukas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kvadratelis {
    width: 25%;
    height: 300px;
    background-color: blue;
    cursor: pointer;
    border: 1px solid black;
    margin: 2%;
}

.raudona {
    background-color: red;
}

.geltona {
    background-color: yellow;
}